/* You can add global styles to this file, and also import other style files */

html,
body {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background-color: #ffffff;
}

.loginLeft {
  color: #e0e0e0 !important;
}

.loginLeft h1 {
  font-size: 40px;
  margin: 0;
}
.loginLeft p {
  line-height: 8px !important;
}
